
.city-list{
    z-index: 9999;
    position: fixed;
    margin-top: -150px;
    margin-left: 40px;
}
.city-list h2{
    font-size: 40px;
    color: rgb(27, 184, 171);
}

.city-list h2:hover{
    color: teal;
}
.city-list-child{
    z-index: 9999;
    position: relative;
    margin-left: 40px;
    margin-top:40px;
}
.city-list h3{
    font-size: 30px;
    color: rgb(27, 184, 171);
}
.list_js_get{
    z-index: 9999;
    position: relative;
    margin-top:40px;
    margin-right: 80px;
    weight:50%;
    height: 40px;
}
.list_js_get p{
    margin-left: 40px;
    font-size: 25px;
    font: bold;
}
.list_js_get input{
    margin-left: 40px;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border:black 1px;
}
.appendMoreCity{
    z-index: 9999;
    position: relative;
    margin-top: 150px;
    margin-left: 40px;
}
.appendMoreCity p {
    margin-left: 40px;
    font-size: 25px;
    font: bold;
}
.appendMoreCity input{
    margin-left: 40px;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border:black 1px;
}
.XSBB p{
    font-size: 6px;
    margin-left: 40px;
}