a {
    text-decoration: none;
    color: rgb(27, 184, 171);
}

a:link {
    color: rgb(9, 177, 135);
}

a:hover {
    color: teal;
}

.bg_1 {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 200px 800px;
    border-color: transparent transparent transparent #000000;
}

.bg_2 {
    position: absolute;
    z-index: -1;
    top: 1000px;
    right: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 200px 800px;
    border-color: transparent transparent #000000 transparent;
}

.bqb {
    position: absolute;
    z-index: 1;
    top: 190px;
    left: 300px;
}

.bqb_money {
    position: absolute;
    z-index: 1;
    top: 600px;
    right: 300px;
}

.div1 {
    position: absolute;
    font-size: 30px;
    z-index: 999;
    top: 50px;
    left: 70px;
}

.div2 {
    position: absolute;
    font-size: 20px;
    margin-left: 50px;
    z-index: 999;
    right: 70px;
    top: 300px;
}

.div3 {
    font-size: 25px;
}

.div_about {
    position: absolute;
    z-index: 999;
    font-size: 20px;
    top: 700px;
    left: 70px;
}

.div_about h3 {
    font-size: 22px;
    color: rgb(61, 6, 4);
}

.box {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 200px;
}

.zanzhu_ali {
    position: absolute;
    left: 1100px;
    top: 150px;
}

.zanzhu_wei {
    position: absolute;
    left: 1100px;
}

.divblog {
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 15px;
}

.divblog img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.divblog img:hover {
    transform: scale(1.6);
}

.divgit {
    position: absolute;
    z-index: 999;
    right: 100px;
    top: 13px;
}

.divgit img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.divgit img:hover {
    transform: scale(1.6);
}

.div_ss {
    position: absolute;
    top: 1100px;
    right: 0px;
}

footer {
    position: absolute;
    top: 1050px;
    right: 100px;
    width: 500px;
    height: 50px;
    color: rgb(5, 121, 141);
    transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
}