ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: rgba(17, 105, 105, 0.815);
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(12, 204, 156, 0.377);
}

footer {
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer .footer-col {
    margin-bottom: 0px
}

a {
    text-decoration: none;
    color: brown;
}

a:link {
    color: rgb(26, 165, 165);
}

a:hover {
    color: teal;
}

.div1 {
    color: black;
    font-size: 30px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
}

.div2 {
    font-size: 20px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.div3 {
    font-size: 25px;
}

.div10 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 200px;
}

.box {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 200px;
}