<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>后台管理</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/static/css/admin/Highlight-Clean.css">
    <link rel="stylesheet" href="/static/css/admin/Navigation-Clean.css">
    <link rel="stylesheet" href="/static/css/admin/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="/static/css/admin/Scroll-To-Top.css">
</head>

<body><a id="scroll-to-top" title="Scroll to top" href="#"><i class="fas fa-angle-up"></i></a>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="index">快点回家</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">城市管理</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">查询支持城市</h2>
                <p class="text-center">点击下方的提交&nbsp;<br>查询数据库中的已经支持的城市列表</p>
            </div>

                <div class="form-group"><p class="form-control" style="height: 200px;"></div>
                <div class="form-group"><button class="btn btn-primary">查询</button></div>
        </div>
    </section>
    <section class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">删除支持城市</h2>
                <p class="text-center">请在下方输入标准的JSON格式<br>再点击提交</p>
            </div>

                <div class="form-group"><input class="form-control"  name="text_app" placeholder="→在这里输入←" style="height: 200px;"></div>
                <div class="form-group"><button class="btn btn-primary" >提交</button></div>

        </div>
    </section>
    <section class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">增加支持城市</h2>
                <p class="text-center">请在下方输入标准的JSON格式<br>再点击提交</p>
            </div>

                <div class="form-group"><input class="form-control"  placeholder="→在这里输入←" style="height: 200px;"></div>
                <div class="form-group"><button class="btn btn-primary" >提交</button></div>

        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>