<!-- 基于高德api-css的重定义-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <!-- 网页图标 -->
    <link rel="icon" href="/static/img/icon.ico" type="image/x-icon" />
    <!-- 收藏图标 -->
    <link rel="shortcut icon" href="/static/img/icon.ico" type="image/x-icon" />

    <!--引入文件 -->
    <!--<link href="/static/css/jquery.range.css" rel="stylesheet" type="text/css" />-->
    <link href="/static/css/style-GD.css" rel="stylesheet" type="text/css" />
    <script src="http://cache.amap.com/lbs/static/jquery.range.js"></script>
    <script src="http://cache.amap.com/lbs/static/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/> 
    <script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.15&key=55b45a0e36d15c12758b691362b82069&&plugin=AMap.ArrivalRange,AMap.Scale,AMap.Geocoder,AMap.Transfer,AMap.Autocomplete">
    </script>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/jquery.range.css"/>

    <script src="https://cache.amap.com/lbs/static/jquery-1.9.1.js"></script>
    <script src="https://cache.amap.com/lbs/static/jquery.range.js"></script>
    <!--我们的目标是星辰大海 -->
    <title>快点回家</title>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?2f2216616c49d6805590c57c46d6417f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    {% block content %} {% endblock%}
</body>

</html>