<!-- 基准头文件 -->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <!-- 网页图标 -->
    <link rel="icon" href="/static/img/icon.ico" type="image/x-icon">
    <!-- 收藏图标 -->
    <link rel="shortcut icon" href="/static/img/icon.ico" type="image/x-icon">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" charset="utf-8" /> {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>快点回家</title>
    {% endif %}
</head>

<body>
    <script type="text/javascript" src="/static/js/background.js"></script>
    {% block content %} {% endblock%}
</body>

</html>