{% extends "base.html" %} {% block content %}

<div class="bg_1"></div>

<div class="divblog">
    <a href=" http://blog.fuckname.top " target="_Blank "><img src="static/img/PKS.jpeg " title="我的博客"></a>
</div>
<div class="divgit">
    <a href="https://github.com/nonewind" target="_Blank"><img src="/static/img/github.png" title="Github"></a>
</div>

<div class="div1 ">
    <h1><b><a href="/rents " target="_Blank " title="点我点我！">开始使用 ▶</b></a>
    </h1>

</div>
<div class="div2 ">
    <p><b> > 地图选点 公交+地铁 快速查看 </b></p>
    <p><b> > 快速筛选出上下班通勤在1小时内的在租房源</b></p>
</div>
<div class="div_about">
    <h3>关于</h3>
    <p><b> > <a href="https://58.com/chuzu/" >数据来源</a>自互联网 不保证其数据的可靠性</b></p>
    <p><b> > 在涉及资金往来时 请注意自身财产安全 谨防上当受骗</b></p>
    <p> > 本网站数据更新周期均为一个星期更新一次</p>
    <p><b>> 目前仅仅支持青岛市 后期将会添加更多的城市</b></p>
</div>
<footer>
    <center>
        <div>
            <p>Powered by © 2018-2021 Nonewind</p>
        </div>
    </center>

</footer>


{% endblock %}