{% extends "base.html" %} {% block content %}

<!--<video src="https://backip-1259049233.cos.ap-nanjing.myqcloud.com/TC/video_0.mp4" autoplay muted loop></video>-->
<div class="bg_1"></div>

<div class="divblog">
    <a href=" http://blog.fuckname.top " target="_Blank "><img src="static/img/PKS.jpeg " title="我的博客"></a>
</div>
<div class="divgit">
    <a href="https://github.com/nonewind" target="_Blank"><img src="/static/img/github.png" title="Github"></a>
</div>

<div class="div1 ">
    <h1><b><a href="/rents " target="_Blank " title="点我点我！">开始使用 ▶</b></a>
    </h1>
</div>
<div class="div2 ">
    <p><b> > 地图选点 公交+地铁 快速查看 </b></p>
    <p><b> > 快速筛选出上下班通勤在1小时内的在租房源</b></p>
    <p><b> > 无数打工人的心酸血泪史</b></p>
    <p><b> > <a href="/more">点击查看支持城市</a></b> 或将你的城市添加到支持列表中</p>
</div>
<div class="div_about">
    <h3>About</h3>
    <p><b> > <a href="https://58.com/chuzu/" target="_Blank ">数据来源</a> 自互联网 不保证其数据的可靠性</b></p>
    <p><b> > 在涉及资金往来时 <a href="https://zhuanlan.zhihu.com/p/32688409" arget="_Blank">请注意自身财产安全 谨防上当受骗</a></b></p>
    <p><b>> 本网站数据更新周期均为一个星期更新一次</b></p>
    <p><b> > 服务器是良心云的学生机器 速度可能比较慢 请谅解</b></p>
</div>
<footer>
    <center>
        <div>
            <p>2018-2021 Powered by  Zhangziheng</p>
        </div>
    </center>

</footer>
{% endblock %}