{% extends "base.html" %} {% block content %}

<div class="bg_1"></div>
<div class="bg_2"></div>

<div class="divblog">
    <a href=" http://aj-hunter.xyz " target="_Blank "><img src="static/img/PKS.jpeg " title="我的博客"></a>
</div>
<div class="divgit">
    <a href="https://github.com/nonewind" target="_Blank"><img src="/static/img/github.png" title="Gigay"></a>
</div>

<div class="div1 ">
    <h1><b><a href="/rents " target="_Blank " title="点我点我！">Be at home!</b></a>
    </h1>

</div>
<div class="bqb ">
    <img src="static/img/BQB.jpg " width="200px " height="250px " />
</div>
<div class="div2 ">
    <p><b> > 地图选点 公交+地铁 选择你合适的租房地点 </b></p>
    <p><b> > 基于Flask引擎 结合高德API 爬虫获取58租房的数据 </b></p>
    <p><b> > 开源/免费 <a href="/help ">你愿意请我喝瓶可乐吗?</a> </b></p>
    <p><b> > 第一次接触前端,代码写的很混乱...请不要介意...</b</p> </div> <div class="bqb_money ">
            <img src="static/img/BQB_money.jpg "/ width="150px " height="175px ">
</div>
<div class="div_about">
    <h3>关于</h3>
    <p><b> > 本网站的所有数据均来自互联网 本网站不负责数据的真实性和可靠性</b></p>
    <p><b> > 在涉及资金往来时 请注意自身财产安全 谨防上当受骗</b></p>
    <p> > 本网站数据更新周期均为一个星期更新一次</p>
    <p><b>> 目前仅仅支持青岛市 后期将会添加更多的城市</b></p>
</div>
<div class="div_ss">
    <p><b>
            >写一个项目的难度并不高,难的是如何下定决心并去做<br />>及时的跳出自己的舒适圈,做一个优秀的人,一起加油吧！<br />>一往无前虎山行,拨开云雾见光明
        </b></p>
</div>
<footer>
    <div>
        <p>Powered by © 2018-2019 Nonewind</p>
    </div>

</footer>


{% endblock %}