{% extends "base.html" %} {% block content %}
<div class="bg_1"></div>
<div class="bg_2"></div>
<div class="city-list">
    <h2>支持的城市列表</h2>
    <div class="city-list-child">
        <h3>目前已经支持的城市</h3>
        <div class="list_js_get">
            <p id="cityListLoad">青岛 济南 北京 上海 合肥...</p>
        </div>
        <h3>查询已经支持的城市</h3>
        <div class="list_js_get">
            <p>请在下方的框框中输入您想查询的城市 按下<b>回车</b>后提交</p>
            <p>如: "北京市" 请输入: 北京</p>
            <input type="text" id="findMyCity" placeholder="     输入搜索城市" onkeypress="seachMyCity()">
        </div>
    </div>
    <div class="appendMoreCity">
        <h3>提交想要新增的城市</h3>
        <div class="XSBB">
            <p>提交到后端中根据情况酌情添加(考虑到服务器的负载~爬虫的负载~之类的情况) 或者你可以点击<a href="https://github.com/nonewind/Flask_58_Rent"
                    target="_blank">GitHub开源地址</a></p>
            <p>按照教程搭建一个 属于自己的租房系统</p>
        </div>
        <p>请在下方的框框中输入您想提交的城市 按下<b>回车</b>后提交</p>
        <p>如: "北京市" 请输入: 北京</p>
        <input type="text" id="appendMyCity" placeholder="     输入提交城市" onkeypress="AppendMyCity()">
    </div>
</div>
<div class="img-gif">
    <img src="https://backip-1259049233.cos.ap-nanjing.myqcloud.com/TC/Index_demo_1.gif">
</div>
<div class="backToIndex">
    <h1><b><a href="/index "><--返回首页</b></a>
    </h1>
</div>
<div class="divblog">
    <a href=" http://blog.fuckname.top " target="_Blank "><img src="static/img/PKS.jpeg " title="我的博客"></a>
</div>
<div class="divgit">
    <a href="https://github.com/nonewind" target="_Blank"><img src="/static/img/github.png" title="Github"></a>
</div>

<script>
    //搜索城市是否在支持列表中
    function seachMyCity() {
        if (event.keyCode == 13) { //判断是否按下enter
            var SeachCity = window.document.getElementById("findMyCity");
            SeachCity = SeachCity.value
            if (SeachCity == '') {
                alert("你想搜个啥?")
            } else {
                citycode_seach(SeachCity)
                window.document.getElementById("findMyCity").value = '' //清空输入框
            }
        }
    }

    function citycode_seach(data) {
        $.ajax({ //构建请求
            type: "get",
            url: "/seachCity?&city=" + data,
            complete: function (response) {
                if (response.status == 200) {
                    var res_return = response.responseText;
                    alert(res_return)
                } else {
                    alert("~后端返回失败~")
                }
            }
        })
    }
    //提交想要添加的城市
    function AppendMyCity() {
        if (event.keyCode == 13) {
            var SeachCity = window.document.getElementById("appendMyCity");
            SeachCity = SeachCity.value
            if (SeachCity == '') {
                alert("你想弄个啥?")
            } else {
                AppendMyCity_append(SeachCity)
                window.document.getElementById("appendMyCity").value = "" //清空输入框
            }
        }
    }

    function AppendMyCity_append(data) {
        $.ajax({
            type: "get",
            url: "/appendCity?&city=" + data,
            complete: function (response) {
                if (response.status == 200) {
                    var res_return = response.responseText;
                    alert(res_return)
                } else {
                    alert("~后端返回失败~")
                }
            }
        })

    }
</script>
{% endblock %}