<!--
 * @Author: Ziheng
 * @Date: 2021-01-11 10:19:48
 * @LastEditTime: 2021-03-16 10:10:01
-->
{% extends "base_GD.html" %} {% block content %}
<div id="container"></div>
<div class="control-panel">
    <div class="control-entry">
        <h2><b>选择工作地点</b></h2>
        <div class="control-input">
            <input id="work-location" type="text" />
            <!-- JS 调用入口 -->
        </div>
    </div>
    <div class="input-item">
        <div class="input-item-prepend"><span class="input-item-text"><b>时长</b></span></div>
        <input id='t' type="text" value="30">
        <h3 style='color:grey'>(分钟)通勤时间<br></h3>
    </div>

    <div class="input-item">
        <div class="input-item-prepend">
            <label class="input-item-text"><b>出行方式</b></label>
        </div>
        <select iname="v" id="v">
            <option selected value="SUBWAY,BUS">地铁+公交</option>
            <option value="SUBWAY">地铁</option>
            <option value="BUS">公交</option>
        </select>
        <input id="search" type="button" class="btn" value="查询" />
        <input id="clear" type="button" class="btn" value="清除" />
    </div>
    <div class="input-item">
        <div class="input-item-prepend">
            <label class="input-item-text"><b>房源切换</b></label>
        </div>
        <select id="from_local">
            <option selected value="0">混合房源</option>
            <option value="1">安居客</option>
            <option value="2">58同城</option>
        </select>
    </div>

    <div class="input-item">
        <div class="input-item-prepend">
            <label class="input-item-text"><b>租房类型</b></label>
        </div>
        <select id="from_home">
            <option selected value="0">混合不限制</option>
            <option value="1">单间</option>
            <option value="2">整租</option>
        </select>
    </div>
    <div class="input-item">
        <div class="input-item-prepend">
            <label class="input-item-text"><b>价格区间</b></label>
        </div>
        <select id="price">
            <option selected value="0">1K以下</option>
            <option value="1">1K-2K</option>
            <option value="2">2K-3K</option>
            <option value="3">3K以上</option>
        </select>
        <input id="search-price" type="button" class="btn" value="查询" />
        <input id="clear-price" type="button" class="btn" value="清除" />
    </div>
    <div class="FYXX_hidden" id="FYXX">
        <h2><b>房源信息</b></h2>
        <div class="FYXX_hidden_img">
            <img id="home_pic" src="https://img-pre.ivsky.com/img/tupian/pre/201111/28/jiazhong_bandiangou-006.jpg">
        </div>
        <div class="input-item">
            <div class="input-item-prepend">
                <label class="input-item-text"><b>房源信息</b></label>
                <span style="font-size: 16px;" id="home_name">xxxxxxxxxxx</span>
            </div>
        </div>
        <div class="input-item">
            <div class="input-item-prepend">
                <label class="input-item-text"><b>房源价格</b></label>
                <span style="font-size: 16px;" id="home_price">xxxxxxxxxxx</span>
            </div>
        </div>
        <div class="input-item">
            <div class="input-item-prepend">
                <label class="input-item-text"><b>房源类型</b></label>
                <span style="font-size: 16px;" id="home_class">xxxxxxxxxxx</span>
            </div>
        </div>
        <div class="input-item">
            <div class="input-item-prepend">
                <label class="input-item-text"><b>房源来源</b></label>
                <span style="font-size: 16px;" id="home_from">xxxxxxxxxxx</span>
            </div>
        </div>
    </div>

</div>


<script>
    $("#FYXX").hide()

    var isChanged = false;
    $(function () {
        $('.single-slider').jRange({
            from: 1,
            to: 120,
            step: 1,
            scale: [],
            format: '%s',
            width: 400,
            showLabels: true,
            showScale: true
        });
    });

    var map = new AMap.Map("container", {
        resizeEnable: true,
        zoomEnable: true,
        zoom: 11
    });

    var scale = new AMap.Scale();

    map.addControl(scale);

    var arrivalRange = new AMap.ArrivalRange();
    var x, y, t, vehicle = "SUBWAY,BUS";
    var workAddress, workMarker;
    var rentMarkerArray = [];
    var polygonArray = []; //范围矩阵点
    var amapTransfer;
    var path = [];
    var cluster = [];
    var _renderClusterMarker = function (context) {
        var count = rentMarkerArray.length;
        var factor = Math.pow(context.count / count, 1 / 18);
        var div = document.createElement('div');
        var Hue = 180 - factor * 180;
        var bgColor = 'hsla(' + Hue + ',100%,50%,0.7)';
        var fontColor = 'hsla(' + Hue + ',100%,20%,1)';
        var borderColor = 'hsla(' + Hue + ',100%,40%,1)';
        var shadowColor = 'hsla(' + Hue + ',100%,50%,1)';
        div.style.backgroundColor = bgColor;
        var size = Math.round(30 + Math.pow(context.count / count, 1 / 5) * 40);
        div.style.width = div.style.height = size + 'px';
        div.style.border = 'solid 1px ' + borderColor;
        div.style.borderRadius = size / 2 + 'px';
        div.style.boxShadow = '0 0 1px ' + shadowColor;
        div.innerHTML = context.count;
        div.style.lineHeight = size + 'px';
        div.style.color = fontColor;
        div.style.fontSize = '14px';
        div.style.textAlign = 'center';
        context.marker.setOffset(new AMap.Pixel(-size / 2, -size / 2));
        context.marker.setContent(div)
    };


    var infoWindow = new AMap.InfoWindow({
        offset: new AMap.Pixel(0, -30)
    });

    var auto = new AMap.Autocomplete({
        input: "work-location"
    });

    AMap.event.addListener(auto, "select", workLocationSelected);

    function takeBus(radio) {
        vehicle = radio.value;
        // loadWorkLocation()
    }

    function takeSubway(radio) {
        vehicle = radio.value;
        // loadWorkLocation()
    }

    function searchtraffic() {
        workAddress = document.getElementById("work-location").value;
    }

    function workLocationSelected(e) {
        workAddress = e.poi.name;
    }

    function loadWorkMarker(x, y, locationName) {
        workMarker = new AMap.Marker({
            map: map,
            title: locationName,
            icon: '/static/img/ZZ.png',
            position: [x, y]
        });
    }



    function delWorkLocation() {
        if (polygonArray) map.remove(polygonArray);
        if (workMarker) map.remove(workMarker);
        polygonArray = [];
    }

    function loadWorkLocation() {
        delWorkLocation();
        var geocoder = new AMap.Geocoder({
            radius: 1000
        });
        geocoder.getLocation(workAddress, function (status, result) {
            if (status === "complete" && result.info === 'OK') {
                var geocode = result.geocodes[0];
                x = geocode.location.getLng();
                y = geocode.location.getLat();
                loadWorkMarker(x, y);
                var t = parseInt($("#t").val());
                var vehicle = $("#v").val();
                if (t > 60 || t < 1) {
                    alert("时间最长支持60分钟哦!");
                    return
                }
                loadWorkRange(x, y, t, "#3f67a5", vehicle);
                // 坐标-x,坐标-y,时长,颜色,
                map.setZoomAndCenter(12, [x, y]);
                window.city_name = result.geocodes[0].addressComponent.city.replace("市", ""); //将城市写成全局变量
            }
        });
    }

    function loadWorkRange(x, y, t, color, v) {
        arrivalRange.search([x, y], t, function (status, result) {
            if (result.bounds) {
                for (var i = 0; i < result.bounds.length; i++) {
                    var oo = [];
                    var polygon = new AMap.Polygon({
                        map: map,
                        fillColor: color,
                        fillOpacity: "0.4",
                        strokeColor: color,
                        strokeOpacity: "0.8",
                        strokeWeight: 1
                    });
                    polygon.setPath(result.bounds[i]);
                    polygonArray.push(polygon);
                    //把数组里的坐标拿出来 写入path中 为下面的判断是否在标记内作准备
                    for (var line = 0; line < result.bounds[i][0].length; line++) {
                        oo.push([result.bounds[i][0][line].getLng(), result.bounds[i][0][line].getLat()])
                    };
                    path.push(oo);
                }
            }
        }, {
            policy: v
        });
    }

    function addMarkerByAddress(spiderData) {
        var geocoder = new AMap.Geocoder({
            radius: 1000
        });

        geocoder.getLocation(window.city_name + spiderData["title"], function (status, result) {
            if (status === "complete" && result.info === 'OK') {
                var geocode = result.geocodes[0];
                var position = [geocode.location.getLng(), geocode.location.getLat()];
                for (xxxxxx = 0; xxxxxx < path.length; xxxxxx++) {
                    if (AMap.GeometryUtil.isPointInRing(position, path[xxxxxx])) {
                        rentMarker = new AMap.Marker({
                            map: map,
                            title: window.city_name + "市" + spiderData["title"],
                            // icon: 'http://webapi.amap.com/theme/v1.3/markers/n/mark_r.png',
                            position: position,
                        });
                        rentMarkerArray.push(rentMarker);
                        addcluster();
                        //判断元素是否隐藏 如果隐藏就先显示
                        //如果是显示 就先隐藏再显示
                        //搞个动态效果也挺美滋滋
                        rentMarker.on('mousedown', function (e) {
                            if ($("#FYXX").is(":hidden")) {
                                $("#FYXX").slideDown(100);
                            } else {
                                $("#FYXX").slideUp(100);
                                $("#FYXX").slideDown(100);
                            }
                            $('#home_pic').attr('src',spiderData["img"] )
                            document.getElementById("home_name").innerText = spiderData["title"];
                            document.getElementById("home_price").innerText = spiderData['price'];
                            document.getElementById("home_from").innerText = spiderData['from'];
                            document.getElementById("home_class").innerText = spiderData['class'];
                        })
                        break;
                    }
                }
            }
        })
    }

    function addcluster() {
        // 聚合调用参数
        try {
            if (cluster) {
                cluster.setMap(null);
            }
        } catch (error) {}
        map.plugin(["AMap.MarkerClusterer"], function () {
            cluster = new AMap.MarkerClusterer(map, rentMarkerArray, {
                gridSize: 50,
                minClusterSize: 3,
                setMinClusterSize: 2, //设置单个聚合的最小数量
                renderClusterMarker: _renderClusterMarker
            });
        })
    }

    function delWorkLocation() {
        // 删除工作地点并清空范围点
        if (polygonArray) map.remove(polygonArray);
        if (workMarker) map.remove(workMarker);
        polygonArray = [];
    }

    function delRentLocation() {
        // 清空标记点
        if (rentMarkerArray) map.remove(rentMarkerArray);
        rentMarkerArray = [];
        try {
            map.MarkerClusterer.clearMarkers();
        } catch (error) {

        }
        try {
            if (cluster) {
                cluster.setMap(null);
            }
        } catch (error) {}
    }

    function loadRentLocationByFile(data) {
        delRentLocation();
        if (data == undefined || data.length == 0) {
            alert("没有查询到相关数据 有可能是该城市还没有支持")
        } else {
            var spider_data = data; {
                for (var j = 0, len = spider_data.length; j < len; j++) {
                    addMarkerByAddress(spider_data[j]);
                };
            };
        };
    };

    function getJson() {
        if (window.city_name == "" || window.city_name == undefined) {
            alert("请选择工作地点")
        } else {
            city = window.city_name
            var price_level_post = $("#price").val();
            var from_home = $("#from_home").val();
            var from_local = $("#from_local").val();
            var url = "rentsData?&city=" + city + "&level=" + price_level_post + "&from_home=" + from_home +
                "&from_local=" + from_home;
            $.ajax({
                type: "post",
                url: url,
                complete: function (response) {
                    if (response.status == 200) {
                        return_data = JSON.parse(response.responseText)["data"];
                        loadRentLocationByFile(return_data)

                    } else {
                        alert("数据请求失败 请刷新后重试")
                    }
                },
                success: alert("一大波数据正在向你赶来"),
            })
        }
    }


    $('#search').on('click', loadWorkLocation); // 搜索地点
    $('#clear').on('click', delWorkLocation); // 清除搜索地点
    $('#clear-price').on('click', delRentLocation); // 搜索房源信息
    $('#search-price').on('click', getJson); // 清除搜索房源信息
</script>
{% endblock %}