{% extends "base_GD.html" %}
{% block content %}

<div id="container"></div>
<div class="info">
        <div class="input-item">
          <div class="input-item-prepend">
            <span class="input-item-text" style="width:8rem;">输入公司的位置</span>
          </div>
          <input id='tipinput' type="text">
        </div>
    </div>



<!-- 加载地图JSAPI脚本 -->

<script src="https://webapi.amap.com/maps?v=1.4.15&key=	55b45a0e36d15c12758b691362b82069"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=55b45a0e36d15c12758b691362b82069&plugin=AMap.Autocomplete"></script>
<script type="text/javascript" src="/static/js/PlaceSearchRender.js"></script>
<script type="text/javascript" src="/static/js/addToolbar.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=55b45a0e36d15c12758b691362b82069&plugin=AMap.PlaceSearch"></script>
    

<script>
    //创建地图
    var map = new AMap.Map('container', {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom:10, //初始化地图层级
        center: [120.321892,36.069283] //初始化地图中心点
    });

    // 地图加载完成提示
   // 输入提示/浮动显示
   var auto = new AMap.Autocomplete({
        input: "tipinput"
    });

    var placeSearch = new AMap.PlaceSearch({
      // city 指定搜索所在城市，支持传入格式有：城市名、citycode和adcode
      city: '青岛'
    })

    placeSearch.search(tipinput, function (status, result) {
       // 查询成功时，result即对应匹配的POI信息
       console.log(result)
       var pois = result.poiList.pois;
        for(var i = 0; i < pois.length; i++){
            var poi = pois[0];
            var marker = [];
            marker[0] = new AMap.Marker({
                position: poi.location,   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                title: poi.name
            });
            // 将创建的点标记添加到已有的地图实例：
            map.add(marker[0]);
        }
        map.setFitView();

    })
    
</script>
</script> 



{% endblock %}